# Rust
/target
**/target
!Cargo.lock
!**/Cargo.lock

# Node/Next.js
node_modules
!pnpm-lock.yaml
!**/pnpm-lock.yaml
package-lock.json
yarn.lock
.next
.turbo
.vercel
dist
out

# Env & local configs
.env
.env.*
!.env.example

# IDE / OS
.DS_Store
.idea
.vscode
*.iml

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
*.pid
